<div *ngIf="user" [ngClass]="{ open: navService.sidebarState.sidenavOpen }" class="sidebar-left rtl-ps-none"
  [perfectScrollbar]="{ suppressScrollX: true }">
  <div class="logo">
    <img src="./assets/images/logo.png" alt="">
  </div>
  <ul class="navigation-left">
    <li [ngClass]="{ active: item.active }" (click)="onClickChangeActiveFlag(item)" class="nav-item lvl1"
      *ngFor="let item of nav">
      
      <div class="nav-item-hold" routerLink="{{ item.state }}" (click)="closeChildNav()"
        *ngIf="!item.disabled && item.type === 'link'">
        <i [class]="'nav-icon ' + item.icon"></i>
        <span class="nav-text">{{ item.name }}</span>
      </div>

      <div class="nav-item-hold" (mouseenter)="selectItem(item)" *ngIf="!item.disabled && item.type === 'dropDown'">
        <i [class]="'nav-icon ' + item.icon"></i>
        <span class="nav-text">{{ item.name }}</span>
      </div>

      <div class="nav-item-hold" *ngIf="!item.disabled && item.type === 'extLink'">
        <a [href]="item.state" target="_blank">
          <i [class]="'nav-icon ' + item.icon"></i>
          <span class="nav-text">{{ item.name }}</span>
        </a>
      </div>

    </li>
  </ul>
</div>


<div [ngClass]="{ open: navService.sidebarState.childnavOpen }" class="sidebar-overlay" (click)="closeChildNav()"></div>