<div class="mb-3 d-flex justify-content-end w-100">
    <button class="btn btn-success px-3 m-3">Crea Nuovo Task</button>
</div>

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card o-hidden">
            <ngx-datatable style="height: auto; box-shadow: none" class="material fullscreen" [columnMode]="'force'"
                [headerHeight]="50" [rowHeight]="60" [scrollbarV]="false" [rows]="currentTasks">
                <ngx-datatable-column name="name">
                    <ng-template ngx-datatable-header-template>Task name</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>Assignee</ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        {{getAssignee(row.assignee_id)}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>End Date</ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.end_date | date:'dd-MM-yyyy'}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>Task Status</ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        {{getStatus(row.status)}}
                        {{getDate(row.status, (row.start_date | date:'dd-MM-yyyy'), (row.end_date |
                        date:'dd-MM-yyyy'))}}
                        <span class="rounded-circle d-inline-block"
                            [ngClass]="{'red': row.status == 0, 'green' : row.status == 2, 'orange' : row.status == 1 }"
                            style="height: 10px; width: 10px;"></span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>Actions</ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <button class="btn bg-transparent mr-2 p-0"><i class="text-20 i-Eye"></i></button>
                        <button class="btn bg-transparent text-danger ml-2 p-0"><i class="text-20 i-Close"></i></button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>