<div class="d-flex justify-content-between w-100">
  <h2 class="">Projects</h2>

  <div>
    <button (click)="active = !active">Aggiungi Progetto</button>

    <form class="d-flex flex-column" *ngIf="active" [formGroup]="projectForm" (ngSubmit)="addProject()">
      <input type="text" name="name" formControlName="name" placeholder="name">
      <input type="number" name="status" formControlName="status" placeholder="status">
      <input type="date" name="start_date" formControlName="start_date" placeholder="start_date">
      <input type="date" name="end_date" formControlName="end_date" placeholder="end_date">

      <select name="progress" formControlName="progress" id="">
        <option value="" selected disabled hidden>progress</option>
        <option [value]="50">50</option>
        <option [value]="80">80</option>
        <option [value]="100">100</option>
      </select>

      <input type="number" name="revenue" formControlName="revenue" placeholder="revenue">
      <select formControlName="client_id" name="client_id" id="">
        <option value="" selected disabled hidden>clienti</option>
        <option *ngFor="let c of client" [value]="c.id">{{c.name}}</option>
      </select>


      <select placeholder="Begin typing a name to filter..." multiple formControlName="user_ids" name="user_ids" id="">

        <option value="" selected disabled>collaboratori</option>
        <option *ngFor="let u of users" [value]="u.id">{{u.name}}</option>
      </select>
      <button type="submit">aggiungi</button>
    </form>
  </div>
</div>

<div class="projectCard" *ngFor="let p of projects">

  <ul>
    <li>
      <span>nome progetto:{{p.name}} --> </span>
      <span>stato: {{p.status}} --> </span>
      <span>progress: {{p.progress}}</span>
      <button (click)="updateProject(p.id)">update proj</button>
      <button (click)="delProject(p.id)">delete </button>
    </li>
  </ul>
</div>

<section class="d-flex align-items-stretch flex-wrap">
  <div *ngFor="let proj of projects" class="col-lg-6 col-md-12 ">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title">{{proj.name}}</div>
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <tbody>
                <tr>
                  <td>Revenue</td>
                  <td class="font-weight-bold text-success">{{proj.revenue}}</td>
                </tr>
                <tr>
                  <td>Client</td>
                  <td class="font-weight-bold">{{proj.client_id}}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td class="text-danger font-weight-bold">{{proj.status}}</td>
                </tr>
              
                <tr>
                  <td>collaboratori</td>
                  <td  class="text-warning font-weight-bold">
                    <ul >
                      <li *ngFor="let u of proj.user_ids">
                         {{u}}
                      </li>
                    </ul>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div [ngSwitch]="proj.progress" class="col-md-6">

            <div *ngSwitchCase="50" echarts [options]="chartPie1" [autoResize]="true" style="height: 200px;">
            </div>

            <div *ngSwitchCase="80" echarts [options]="chartPie2" [autoResize]="true" style="height: 200px;">
            </div>

            <div *ngSwitchCase="100" echarts [options]="chartPie3" [autoResize]="true" style="height: 200px;">
            </div>

             <div *ngSwitchDefault echarts [options]="chartPieDef" [autoResize]="true" style="height: 200px;">
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>