<h3>Cliente</h3>
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <input type="text" name="name" formControlName="name" placeholder="Nome">
    <input type="text" name="vat_number" formControlName="vat_number" placeholder="Partita IVA">
    <input type="text" name="business_name" formControlName="business_name" placeholder="Nome commericale">
    <input type="text" name="representatives" formControlName="representatives" placeholder="Rappresentanti">
    <button type="submit">Modifica</button>
</form>