<!-- <div>
  <button class="btn btn-primary" (click)="saveBoard()">Save</button>
</div> -->
<div class="pb-2 d-flex" 
  style="height: calc(100vh - 80px - (32px * 2) - 34px); width: 100%; overflow-x: auto;"
  mwlDroppable
  (drop)="onDrop($event, null)"
>
  <div *ngFor="let column of columns; let i = index" class="p-0 mx-2" style="min-width: 300px;">
    <div  
      class="card pointer" [class]="column.isDragging ? 'drag-active' : ''"
      style="max-height:100%; max-width: 300px;" 
      [style]="column.color" 
      mwlDraggable
      mwlDroppable 
      (drop)="onDrop($event, i)" 
      dragOverClass="drop-over-active"
      dropData="{{i}}"
      (dragStart)="onDragging(i, null)"
      (dragEnd)="onDragging(i, null)"
      [touchStartLongPress]="{ delay: 300, delta: 30 }"
      (dragOver)="dragOverColumn = i"
    >
      <div class="card-header">
        {{column.sprint.name}}
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="confirm(modalConfirm, i); isEditingTask = false"
        >
          <span>&times;</span>
        </button>
      </div>
      <div class="card-body" style="max-height: 100%; overflow-y: auto;">

        <div *ngFor="let task of column.tasks; let taskId = index" 
          class="card mb-3 pointer" [class]="task.isDragging ? 'drag-active' : ''"
          style="max-width: 18rem;" 
          mwlDraggable
          mwlDroppable
          (click)="openEditTask(modalTask, i, taskId)"
          dropData="{{i}},{{taskId}}"
          (dragStart)="onDragging(i, taskId)"
          (dragEnd)="onDragging(i, taskId)"
          [touchStartLongPress]="{ delay: 300, delta: 30 }"
          (dragOver)="dragOverCard = taskId"
        >
          <div class="card-header">
            <h5 class="m-0">{{task.name}}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{task.description}}</p>
          </div>
          <div class="card-footer d-flex">
            <p *ngIf="task.checkList.length" class="my-0 mr-2">
              <i class="i-Check"></i>
              {{task.checksCompleted}}/{{task.checkList.length}}
            </p>
            <p *ngIf="task.files.length" class="m-0">
              <i class="i-Files"></i>
              {{task.files.length}}
            </p>
            <p class="my-0 mx-2">
              <span *ngIf="task.status == 0">Aperto</span>
              <span *ngIf="task.status == 1">In Corso</span>
              <span *ngIf="task.status == 2">Completato</span>
            </p>
          </div>
        </div>

        <!-- Add Task -->
        <div *ngIf="!column.isCreatingTask" 
          class="card mb-3 pointer bckgr-transparent" 
          style="max-width: 18rem;" 
          (click)="openCreateTask(i)"
        >
          <div class="card-body py-2">
            <p class="m-0"><span style="font-size: large; font-weight: bold;">&plus;</span> Add Task</p>  
          </div>
        </div>
        <div *ngIf="column.isCreatingTask" class="card mb-3 pointer" style="max-width: 18rem;">
          <div class="card-body py-2">
            <input
            #newElement
            [(ngModel)]="newTaskTitle"
            type="text"
            class="form-control"
            id="title"
            placeholder="Task title"
            (keydown.enter)="addTask(i)"
            (focusout)="newTaskTitle == '' ? column.isCreatingTask = false : ''"
          />
          </div>
          <div class="card-footer">
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="column.isCreatingTask = false"
            >
              <span>&times;</span>
            </button>
            <button type="button" class="btn btn-primary" (click)="addTask(i)" [disabled]="newTaskTitle == ''">
              Add Task
            </button>
          </div>
        </div>
      </div> 
    </div>
  </div>

  <!-- Add column -->
  <div class="p-0 mx-2" style="min-width: 300px;">
    <div *ngIf="!isCreatingColumn" 
      class="card pointer bckgr-transparent" 
      style="width: 100%;"
      (click)="isCreatingColumn = true"
    >
      <div class="card-body py-2">
        <p class="m-0"><span style="font-size: large; font-weight: bold;">&plus;</span> Add Column</p>  
      </div>
    </div>
    <div *ngIf="isCreatingColumn" class="card" style="width: 100%;">
      <div class="card-body py-2">
        <input
          #newElement
          [(ngModel)]="newColumnName"
          type="text"
          class="form-control"
          id="name"
          placeholder="Column name"
          (keydown.enter)="addColumn()"
          (focusout)="newColumnName == '' ? isCreatingColumn = false : addColumn()"
        />
      </div>
      <div class="card-footer">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="isCreatingColumn = false; newColumnName = ''"
        >
          <span>&times;</span>
        </button>
        <button type="button" class="btn btn-primary" (click)="addColumn()" [disabled]="newColumnName == ''">
          Add Column
        </button>
      </div>
    </div>
  </div>
</div>

<!-- task card modal -->
<ng-template #modalTask let-modal>
  <!-- <app-trello-task></app-trello-task> -->
  <!-- task card modal -->
  <form [formGroup]="taskForm">
    <div class="modal-header">
      <input
        formControlName="name"
        type="text"
        class="form-control bg-transparent"
        id="name"
        placeholder="Task title"
        style="border: none; font-size: 18px;"
      />
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="card-body p-0">
        
          <div class="row">
            <!-- Description -->
            <div class="col-md-12 form-group mb-4">
              <label for="description">Description</label>
              <textarea 
                  class="form-control" 
                  formControlName="description" 
                  placeholder="Type a description" 
                  id="description" 
                  style="height: 100px"
              ></textarea>
            </div>

            <!-- Checklist -->
            <div class="col-md-12 form-group mb-4">
              <label for="">Checklist</label>
              <p *ngIf="checkList.controls.length == 0" class="m-0">The checklist is empty</p>
              <ng-container *ngFor="let checkForm of checkList.controls; let n = index">
                <label class="checkbox checkbox-success" [formGroup]="checkForm" style="overflow: hidden; text-overflow: ellipsis;">
                <input type="checkbox" formControlName="isChecked">
                <span>{{checkForm.value.name}}</span>
                <span class="checkmark" style="width: 15px; height: 15px; top: 2px"></span>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="removeCheckbox(n)"
                  style="width: 15px; height: 15px;"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                </label>
              </ng-container>

              <textarea #checkboxInput class="form-control mt-2" 
                placeholder="Add element" 
                (keydown)="onKeydown($event, checkboxInput.value)"
                (keyup.enter)="addCheckbox(checkboxInput)"
                appTextareaAutoresize
              ></textarea>

              <button type="button" class="btn btn-primary mt-2" (click)="addCheckbox(checkboxInput)">Add</button>
            </div>

            <!-- Upload Files -->
            <div class="col-md-12 form-group mb-4">
              <label for="">Uploaded Files</label>
              <p *ngIf="files.controls.length == 0" class="m-0">No file uploaded yet</p>
              <div *ngFor="let fileForm of files.controls; let v = index" class="m-0">
                <div class="d-flex justify-content-center align-items-center rounded" style="width: 100px; height: 100px; background-color: rgba(128, 128, 128, 0.493);">
                <img [src]="fileForm.value.url" alt="" style="max-width: 100%; max-height: 100%;">
                </div>
                
                <p>{{fileForm.value.file.name}}</p>
              </div>
              <input type="file" class="d-none" (change)="onFileSelected($event)" #fileUpload>
              
              <button type="button" class="btn btn-primary mt-2" (click)="fileUpload.click()">Upload File</button>
            </div>

            <!-- Comments -->
            <div class="col-md-12 form-group mb-4">
              <label for="">Comments</label>
              <p *ngIf="comments.controls.length == 0" class="m-0">There are no comments</p>
              <div *ngFor="let commentForm of comments.controls; let j = index" class="m-0">
                <div class="card mb-2">
                  <div class="card-body">
                    <p class="m-0">{{commentForm.value.message}}</p>
                  </div>
                </div>   
              </div>

              <textarea #commentInput class="form-control mt-2" 
                placeholder="Add element" 
                (keydown)="onKeydown($event, commentInput.value)"
                (keyup.enter)="addComment(commentInput)"
                appTextareaAutoresize
              ></textarea>
              <button type="button" class="btn btn-primary mt-2" (click)="addComment(commentInput)">Add comment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form> 
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="confirm(modalConfirm, null)">
      Delete
    </button>
    <button type="button" class="btn btn-primary" (click)="updateTask()" [disabled]="!taskForm.valid" ngbAutofocus>
      Edit
    </button>
  </div>
</ng-template>


<!-- deleting confirmation modal -->
<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="text-center">Are you sure you want to delete this element?</h4>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel')"
      ngbAutofocus
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteElement()"
    >
      Ok
    </button>
  </div>
</ng-template>

