<div>
  <button class="btn btn-primary" (click)="saveTasks()">Save</button>
</div>
<div class="row p-3 d-flex flex-wrap" style="height: calc(100vh - 80px - (32px * 2) - 34px);">
  <div *ngFor="let table of tables; let i = index" 
    class="col card p-0 mx-3" 
    style="max-height:100%" 
    [style]="table.color" 
    mwlDroppable 
    (drop)="onDrop($event, i)" 
    dragOverClass="drop-over-active"
    (click)="openTask()"
  >
    <div class="card-header">{{table.name}}</div>
    <div class="card-body" style="max-height: 100%; overflow-y: auto;">

      <div *ngFor="let task of table.tasks; let taskId = index" class="card mb-3" [class]="task.isDragging ? 'drag-active' : ''"
        style="max-width: 18rem;" 
        mwlDraggable
        mwlDroppable
        (click)="openEditTask(modalTask, i, taskId)"
        dropData="{{i}},{{taskId}}"
        (dragStart)="onDragging(i, taskId)"
        (dragEnd)="onDragging(i, taskId)"
        [touchStartLongPress]="{ delay: 300, delta: 30 }"
        (dragOver)="dragOverCard = taskId"
      >
        <div class="card-header">
          <h5>{{task.title}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{task.description}}</p>
        </div>
      </div>

    </div> 
    <div class="card-footer">
      <button class="btn btn-primary" (click)="openCreateTask(modalTask, i)">Add Task</button>
    </div>
  </div>
  <!-- <div *ngFor="let tableForm of trelloTable.controls; let i = index" 
    class="col card p-0 mx-3" 
    style="max-height:100%" 
    [style]="tableForm.value.color" 
    mwlDroppable 
    (drop)="onDrop($event, i)" 
    dragOverClass="drop-over-active"
    (click)="openTask()"
  >
    <div class="card-header">{{tableForm.value.name}}</div>
    <div class="card-body" style="max-height: 100%; overflow-y: auto;">

      <div *ngFor="let taskForm of tableForm.controls.tasks.controls; let taskId = index" class="card mb-3" [class]="taskForm.value.isDragging ? 'drag-active' : ''"
        style="max-width: 18rem;" 
        mwlDraggable
        mwlDroppable
        (click)="openEditTask(modalTask, i, taskId)"
        dropData="{{i}},{{taskId}}"
        (dragStart)="onDragging(i, taskId)"
        (dragEnd)="onDragging(i, taskId)"
        [touchStartLongPress]="{ delay: 300, delta: 30 }"
        (dragOver)="dragOverCard = taskId"
      >
        <div class="card-header">
          <h5>{{taskForm.value.title}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{taskForm.value.description}}</p>
        </div>
      </div>

    </div> 
    <div class="card-footer">
      <button class="btn btn-primary" (click)="openCreateTask(modalTask, i)">Add Task</button>
    </div>
  </div>
</div> -->

<!-- new task card modal -->
<ng-template #modalTask let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{isCreatingTask ? 'Create new task' : 'Edit task'}}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="card-body">
        <form [formGroup]="taskForm">
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="title">*Title</label>
              <input
                formControlName="title"
                type="text"
                class="form-control form-control"
                id="title"
                placeholder="Task title"
              />
              <p *ngIf="taskForm.get('title').invalid && taskForm.get('title').touched" class="text-danger position-absolute">Title required</p>
            </div>

            <div class="col-md-12 form-group mb-3">
              <label for="description">Description</label>
              <textarea 
                class="form-control" 
                formControlName="description" 
                placeholder="Type a description" 
                id="description" 
                style="height: 100px"
              ></textarea>
            </div>

            <div class="col-md-12 form-group" *ngIf="!isCreatingTask">
              <label for="">Checklist</label>
              <p *ngIf="checklist.controls.length == 0" class="m-0">Non ci sono elementi</p>
              <ng-container *ngFor="let checkForm of checklist.controls; let n = index">
                <label class="checkbox checkbox-outline-success" [formGroup]="checkForm">
                  <input type="checkbox" formControlName="isChecked">
                  <span>{{checkForm.value.name}}</span>
                  <span class="checkmark"></span>
                </label>
              </ng-container>

              <textarea class="form-control mt-2" formControlName="newCheckbox" placeholder="Add element" style="height: 50px"></textarea>
              <button type="button" class="btn btn-primary mt-2" (click)="addCheckbox()">Add</button>
           
              
              <!-- <label class="checkbox checkbox-outline-warning">
                  <input type="checkbox" checked>
                  <span>Warning</span>
                  <span class="checkmark"></span>
              </label>
              <label class="checkbox checkbox-outline-danger">
                  <input type="checkbox">
                  <span>Danger</span>
                  <span class="checkmark"></span>
              </label>
              <label class="checkbox checkbox-outline-info">
                  <input type="checkbox">
                  <span>Info</span>
                  <span class="checkmark"></span>
              </label> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveTask()" [disabled]="!taskForm.valid">
      {{isCreatingTask ? 'Create' : 'Edit'}}
    </button>
  </div>
</ng-template>

