.row_issue >div{
    height: 45px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: opacity 3s ease-in-out;
    transition-delay: 2s;
    &:hover .box_edit{
        display: block;
        opacity: 1;
    }

    &:first-child{
        border-left: 5px solid #663399;
        justify-content: flex-start;
        position: relative;
        min-width: 180px;
    }
    h5{
        margin: 0;
    }
    img {
        height: 100%;
        border-radius: 50%;
        margin: auto;
    }

    .box_edit{
        opacity: 1;
        display: flex;
        flex-wrap: nowrap;
        max-height: 45px;
        min-width: fit-content;
        position: absolute;
        right: -110px;
        i{
           
            font-size: 24px;
            color: grey;
            padding: 5px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover{
                font-weight: bolder;
            }
        }
    }

    .custom_input{
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        background-color: inherit;
    }
    .editable{
        background-color: #fff;

    }

}

.h_link_chat {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    max-width: 80%;
    width: 80%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px ;
    span{
        min-width: 20%;
    }
}

.message{
    position: relative;
    background: #f8f9fa;
    border-radius: 10px;
    padding: 1rem;
    &::before {
        
        content: "";
        position: absolute;
        top: 40%;
        right: -5px;
        background: transparent;
        border-style: solid;
        border-width: 0 10px 10px 0px;
        border-color: transparent transparent #f8f9fa transparent;
        transform: rotate(-135deg);
        
    }
}

.modal-xl .modal-dialog{
    min-width: 90vw !important;
}


.userMessage{

    &::before{

        left: -5px;
        right: auto;
        transform: rotate(45deg);
    }
}

a{
    text-decoration: none;
    cursor: pointer;
}

.vh{
    max-height: 60vh;
    overflow: auto;
}

.del a{
    font-size: 12px;
    color: grey;
}

.bg_warning{
    background-color: #eaf463d5 ;
}
.bg_success{
    background-color: #66cb69d2 ;
}
.bg_danger{
    background-color: #ca7263e8;
}
.bg_light{
    background-color:#b0b0b0de ;
}

.bg_low{
    background-color: #d1aef3;
}

.bg_medium{
    background-color: #b98ce7;
}

.bg_high{
    background-color: #a86fe1;
}

.bg_blocker{
    background-color: #9837fa;
}
