<button (click)="getClients()">Clienti</button>

<ul>
    <li *ngFor="let client of clientsList">
        <span>{{ client.name }} </span>
        <button (click)="editClient(client.id)">Modifica</button>
        <button (click)="deleteClient(client.id)">Elimina</button>
    </li>
</ul>

<button (click)="showForm = !showForm">Aggiungi Cliente</button>

<div *ngIf="showForm">
    <h3>Nuovo cliente</h3>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <input type="text" name="name" formControlName="name" placeholder="Nome">
        <input type="text" name="vat_number" formControlName="vat_number" placeholder="Partita IVA">
        <input type="text" name="business_name" formControlName="business_name" placeholder="Nome commericale">
        <input type="text" name="representatives" formControlName="representatives" placeholder="Rappresentanti">
        <button type="submit">Aggiungi</button>
    </form>
</div>