<h1>Users list</h1>

<ul>
  <li routerLink="{{ user.id }}" *ngFor="let user of users">
    {{ user.name }}
  </li>
</ul>

<button *ngIf="!isCreate" (click)="isCreate = !isCreate">New user</button>

<div *ngIf="isCreate">
  <h3>New User</h3>
  <form [formGroup]="profileForm">
    <div>
      <span>Name</span>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div>
      <span>Surname</span>
      <input id="surname" type="text" formControlName="surname" />
    </div>
    <div>
      <span>Email</span>
      <input id="email" type="email" formControlName="email" />
    </div>
    <div>
      <span>Password</span>
      <input
        id="password"
        type="password"
        autocomplete="on"
        formControlName="password"
      />
    </div>
    <div>
      <span>Cost</span>
      <input id="cost" type="number" formControlName="cost" />
    </div>
    <div>
      <span>Recruitment date</span>
      <input
        id="recruitment_date"
        type="date"
        formControlName="recruitment_date"
      />
    </div>
    <div>
      <span>Week working hours</span>
      <input
        id="week_working_hours"
        type="number"
        formControlName="week_working_hours"
      />
    </div>
    <button (click)="back()">Annulla</button>
    <button (click)="onSubmit()">Create</button>
  </form>
</div>


<div class="col-md-12">
    <div class="card o-hidden mb-4">
      <ngx-datatable
      style="height: calc(100vh - 270px); box-shadow: none"
      class="material fullscreen"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="60"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [limit]="10"
      [rows]="products$ ">
        <ngx-datatable-column name="photo" [maxWidth]="100">
          <ng-template ngx-datatable-header-template>
            Thumbnail
          </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <img height="32px" width="32px" style="border-radius: 4px" [src]="value" alt="">
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="name" [width]="300">
          <ng-template ngx-datatable-header-template>
            Title
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="surname">
          <ng-template ngx-datatable-header-template>
            Category
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="subtitle">
          <ng-template ngx-datatable-header-template>
            Description
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>