<div class="breadcrumb">
  <h1 class="col-12 mb-3">Users</h1>
  <div class="col-10">
    <ul>
      <li>Data table</li>
      <li>Filter</li>
    </ul>
  </div>
  <div class="col-2">
    <button
      _ngcontent-hgj-c168=""
      type="button"
      class="btn btn-success m-1"
      (click)="open(modalBasic)"
    >
      New user
    </button>
  </div>
</div>
<ng-template #modalBasic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new user</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="card-body">
        <form [formGroup]="profileForm">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="name">First name</label>
              <input
                formControlName="name"
                type="text"
                class="form-control form-control"
                id="name"
                placeholder="Enter your first name"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="surname">Last name</label>
              <input
                formControlName="surname"
                type="text"
                class="form-control form-control"
                id="surname"
                placeholder="Enter your last name"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="email">Email address</label>
              <input
                formControlName="email"
                type="email"
                class="form-control form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="password">Password</label>
              <input
                formControlName="password"
                type="text"
                class="form-control form-control"
                id="password"
                placeholder="Enter the password"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="cost">Cost</label>
              <input
                formControlName="cost"
                type="number"
                class="form-control form-control"
                id="cost"
                placeholder="Enter user cost"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="week_working_hours">Week working hours</label>
              <input
                formControlName="week_working_hours"
                type="number"
                class="form-control form-control"
                id="week_working_hours"
                placeholder="Enter user week_working_hours"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="recruitment_date">Recruitment date</label>

              <input
                formControlName="recruitment_date"
                id="recruitment_date"
                class="form-control form-control"
                placeholder="yyyy-mm-dd"
                name="recruitment_date"
                type="date"
              />
            </div>

            <div class="col-md-6">
              <label for="recruitment_date">Avatar</label>

              <div>
                <button
                  class="btn btn-sm btn-outline-secondary"
                  (click)="open(modalCropper)"
                >
                  Open file
                </button>
                <img
                  *ngIf="data?.image"
                  class="rounded-circle"
                  [src]="data?.image"
                  [width]="cropperSettings.croppedWidth"
                  [height]="cropperSettings.croppedHeight"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">
      Create
    </button>
  </div>
</ng-template>

<ng-template #modalCropper let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload & Crop</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper
    ><br />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-rounded btn-outline-dark"
      (click)="updateImg(); modal.dismiss()"
    >
      Save
    </button>
  </div>
</ng-template>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-5">
  <div class="col-md-4">
    <div class="form-group">
      <input
        id="text"
        placeholder="Search Users"
        [formControl]="searchControl"
        class="form-control form-control"
        type="email"
      />
    </div>
  </div>
  <div class="col-md-12">
    <div class="card o-hidden">
      <ngx-datatable
        style="height: 500px; box-shadow: none"
        class="material fullscreen"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="60"
        [scrollbarV]="true"
        [rows]="filteredUsers"
      >
        <ngx-datatable-column [maxWidth]="120">
          <ng-template ngx-datatable-header-template> Picture </ng-template>
          <ng-template ngx-datatable-cell-template let-row="row">
            <img
              height="32px"
              width="32px"
              style="border-radius: 4px"
              src="http://80.211.57.191/{{ row.picture }}"
              alt=""
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="name">
          <ng-template ngx-datatable-header-template>Name</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="surname">
          <ng-template ngx-datatable-header-template> Surname </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="email">
          <ng-template ngx-datatable-header-template> Email </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>Actions </ng-template>
          <ng-template ngx-datatable-cell-template let-row="row">
            <button
              type="button"
              routerLink="{{ row.id }}"
              class="btn btn-sm btn-outline-primary m-1"
            >
              Edit
            </button></ng-template
          >
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
