<!-- Title -->

<div class="title flex-nowrap row mb-4">
  <h2 class="col-md-4">Users</h2>
  <!-- serch on data-table -->
  <div class="col-md-4 col-sm-5">
    <div class="form-group">
      <input
        id="text"
        placeholder="Search Users"
        [formControl]="searchControl"
        class="form-control form-control"
        type="email"
      />
    </div>
  </div>
  <!-- new user button -->
  <div class="col-md-4 d-flex justify-content-end">
    <button
      _ngcontent-hgj-c168=""
      type="button"
      class="btn btn-success m-1"
      (click)="open(modalBasic)"
    >
      New user
    </button>
  </div>
</div>
<!-- new user creation modal -->
<ng-template #modalBasic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new user</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="card-body">
        <form [formGroup]="profileForm">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="name">*First name</label>
              <input
                formControlName="name"
                type="text"
                class="form-control form-control"
                id="name"
                placeholder="Enter your first name"
              />
              <p *ngIf="profileForm.get('name').invalid && profileForm.get('name').touched" class="text-danger position-absolute">First name required</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="surname">*Last name</label>
              <input
                formControlName="surname"
                type="text"
                class="form-control form-control"
                id="surname"
                placeholder="Enter your last name"
              />
              <p *ngIf="profileForm.get('surname').invalid && profileForm.get('surname').touched" class="text-danger position-absolute">Last name required</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="email">*Email address</label>
              <input
                formControlName="email"
                type="email"
                class="form-control form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
              <p *ngIf="profileForm.get('email').invalid && profileForm.get('email').touched" class="text-danger position-absolute">Insert a valid email</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="password">*Password</label>
              <input
                formControlName="password"
                type="text"
                class="form-control form-control"
                id="password"
                placeholder="Enter the password"
              />
              <p *ngIf="profileForm.get('password').invalid && profileForm.get('password').touched" class="text-danger position-absolute">Insert a valid password (min 3)</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="cost">*Cost</label>
              <input
                formControlName="cost"
                type="number"
                min="0"
                class="form-control form-control"
                id="cost"
                placeholder="Enter user cost"
              />
              <p *ngIf="profileForm.get('cost').invalid && profileForm.get('cost').touched" class="text-danger position-absolute">Insert a valid amount</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="week_working_hours">*Week working hours</label>
              <input
                formControlName="week_working_hours"
                type="number"
                min="0"
                class="form-control form-control"
                id="week_working_hours"
                placeholder="Enter user week_working_hours"
              />
              <p *ngIf="profileForm.get('week_working_hours').invalid && profileForm.get('week_working_hours').touched" class="text-danger position-absolute">Insert a valid amount</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="recruitment_date">*Recruitment date</label>
              <input
                formControlName="recruitment_date"
                id="recruitment_date"
                class="form-control form-control"
                placeholder="yyyy-mm-dd"
                name="recruitment_date"
                type="date"
              />
              <p *ngIf="profileForm.get('recruitment_date').invalid && profileForm.get('recruitment_date').touched" class="text-danger position-absolute">Select a date</p>
            </div>

            <div class="col-md-6">
              <label for="recruitment_date">Avatar</label>

              <div>
                <button
                  class="btn btn-sm btn-outline-secondary"
                  (click)="open(modalCropper)"
                >
                  Open file
                </button>
                <div class="text-right">
                  <img
                    *ngIf="data?.image"
                    class="rounded-circle ml-4"
                    [src]="data?.image"
                    [width]="cropperSettings.croppedWidth"
                    [height]="cropperSettings.croppedHeight"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!profileForm.valid">
      Create
    </button>
  </div>
</ng-template>
<ng-template #modalCropper let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload & Crop</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper
    ><br />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="updateImg(); modal.dismiss()"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- Users data-table -->
<div class="row mb-5">
  <div class="col-md-12">
    <div class="card o-hidden">
      <ngx-datatable
        style="height: calc(100vh - 180px - 3rem); box-shadow: none"
        class="material fullscreen"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="70"
        [scrollbarV]="true"
        [rows]="filteredUsers"
      >
        <ngx-datatable-column [maxWidth]="120">
          <ng-template ngx-datatable-header-template> Picture </ng-template>
          <ng-template ngx-datatable-cell-template let-row="row">
            <img
              height="32px"
              width="32px"
              style="border-radius: 4px"
              src="{{ row.picture }}"
              alt=""
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="name">
          <ng-template ngx-datatable-header-template>Name</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="surname">
          <ng-template ngx-datatable-header-template> Surname </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="email">
          <ng-template ngx-datatable-header-template> Email </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>Actions </ng-template>
          <ng-template ngx-datatable-cell-template let-row="row">
            <button
              type="button"
              routerLink="{{ row.id }}"
              class="btn btn-sm btn-outline-primary m-1"
            >
              Edit
            </button>

            <button
              type="button"
              (click)="goToFinancial(row.id)"
              class="btn btn-sm btn-outline-primary m-1"
            >
              Financial
            </button>

            <!-- <button
              type="button"
              (click)="goToShowFinancial(row.id)"
              class="btn btn-sm btn-outline-primary m-1"
            >
              show financial
            </button> -->
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
