#scrollNone {
    &::-webkit-scrollbar {
        display: none !important;
    }

    scrollbar-width: 50px;
}

.mega-menu .dropdown-menu {
    width: 60vw;
    padding: 0;
    overflow: hidden;
    max-height: calc(100vh - 100px);
    margin-top: 15px;
    padding: 10px;
}

.collabs{
    height: 30px;
}

.card-icon-bg [class^=i-]{
    font-size: 3rem;
}

._alert {
    right: 15px;
    top: -5px;
    left: 15px;
}

