<p>update-project works!</p>

<div>
  <h2>add project</h2>
  
  <form [formGroup] ="projectForm" (ngSubmit)="updateProject()">
    <input type="text" name="name" formControlName="name" >
    
    <input type="date" name="start_date" formControlName="start_date" >
    <input type="date" name="end_date" formControlName="end_date" >

    <select name="progress" formControlName="progress" id="" >
      <option value="" selected disabled hidden >progress</option>
      <option [value]="50">50</option>
      <option [value]="80">80</option>
      <option [value]="100">100</option>
    </select>

    <input type="number" name="revenue" formControlName="revenue" >

    <select formControlName="client_id" name="client_id" id="">
      <option value="" selected disabled hidden>clienti</option>
      <option *ngFor="let c of client" [value]="c.id">{{c.name}}</option>
    </select>


    <select placeholder="Begin typing a name to filter..." multiple formControlName="user_ids" name="user_ids" id="">

      <option value="" selected disabled>collaboratori</option>
      <option *ngFor="let u of users" [value]="u.id">{{u.name}}</option>
    </select>


    <button type="submit">modifica</button>
  </form>
</div>