<div *ngIf="project && clients && users">
  <div class="card card-profile-1 mb-4 d-flex flex-row justify-content-start">
    <div class="card-body text-center d-flex flex-row align-items-center ">
      <div class="avatar box-shadow-2 m-0 mr-2">
        <img *ngIf="project.logo" src="http://80.211.57.191/overview_dev{{project.logo}}" alt="">
        <img else src="assets/images/project.png" alt="">
      </div>
      <h2>{{project.name}}</h2>
    </div>

    <div *ngIf="associateClient" class="card-body text-center d-flex flex-row align-items-center ">
      <div  class="avatar box-shadow-2 m-0 mr-2">
        <img *ngIf="associateClient.logo" src="http://80.211.57.191/overview_dev{{associateClient.logo}}" alt="">
        <img else src="assets/images/stock.jpg" alt="">
      </div>
      <h2>{{associateClient.name}} </h2>
    </div>
  </div>
</div>

<!-- sezione card  -->

<div class="row" *ngIf="project ">

  <div *ngIf="project.revenue" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
      <div class="card-body text-center">
        <i class="i-Money-2"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">revenue</p>
          <p class="text-primary text-24 line-height-1 mb-2">{{project.revenue}}$</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="associateClient" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
      <div class="card-body text-center">
        <i class="i-Business-Man"></i>
        <div class="content text-center ">
          <p class=" text-center mt-2 mb-0">cliente</p>
          <p class="text-primary  text-left text-18 line-height-1 mb-2">{{associateClient.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="project.progress" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
      <div class="card-body text-center">
        <i class="i-Loading"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">progress</p>
          <p class="text-primary text-24 line-height-1 mb-2">{{project.progress}}%</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="associateUser" class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
      <div class="card-body text-center">
        <i class="i-Business-Mens"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">collaboratori</p>
          <p class="text-primary text-24 line-height-1 mb-2">{{associateUser}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- sezione form -->




<div class="col-md-12 p-0">
  <div class="card mb-4">
    <div class="card-body">
      <div class="card-title mb-3 ">Modifica Progetto</div>
      <form [formGroup]="projectForm" (ngSubmit)="updateProject()">
        <div class="row">

          <div class="col-md-6 form-group mb-3">
            <label for="name">project</label>
            <input type="text" class="form-control" formControlName="name">
          </div>

          <div class="col-md-6 form-group mb-3">
            <label for="picker1">client</label>
            <select class="form-control" formControlName="client_id" name="client_id">
              <option value="" selected disabled hidden>clienti</option>
              <option *ngFor="let c of clients" [value]="c.id">{{c.name}}</option>
            </select>
          </div>

          <div class="col-md-6 form-group mb-3">
            <label for="revenue">revenue</label>
            <input class="form-control" type="number" name="revenue" formControlName="revenue">
          </div>

          <div class="col-md-6 form-group mb-3">
            <label for="picker1">progress</label>
            <select class="form-control" formControlName="progress" name="progress">
              <option value="" selected disabled hidden>progress</option>
              <option [value]="0">0 %</option>
              <option [value]="20">20 %</option>
              <option [value]="50">50 %</option>
              <option [value]="80">80 %</option>
              <option [value]="100">100 %</option>
            </select>
          </div>


          <div class="col-md-6 form-group mb-3">
            <label for="picker1">start date</label>
            <input type="date" class="form-control" formControlName="start_date">
          </div>

          <div class="col-md-6 form-group mb-3">
            <label for="picker1">end date</label>
            <input type="date" class="form-control" formControlName="end_date">
          </div>

          <div class="col-md-6 form-group mb-3">
            <label for="status">status</label>
            <select class="form-control"  type="number" name="status" formControlName="status" placeholder="status">
              <option [value]="0">pending</option>
              <option [value]="1">open</option>
              <option [value]="2">close</option>
            </select>
          </div>
        
          <div class="d-flex mb-3 col-lg-6 p-0 align-items-center" >

            <div class="col-md-6 form-group mb-3" id="scrollNone">
              <label for="picker1">users</label>
              <select class="form-control" formControlName="user_ids" multiple>
                <option value="" selected disabled >collaboratori</option>
                <option *ngFor="let u of users" [value]="{id:u.id,cost:u.cost,percent:u.percent}">{{u.name}}</option>
              </select>
            </div>

          </div>
        </div>

          
          
          
          
        
        <div class="col-lg-6 p-0 ">
          <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">update project</btn-loading>
          <btn-loading (click)="delProject(project.id)" [loading]="loading" btnClass="btn-danger btn-rounded m-4">
            delete
          </btn-loading>
        </div>
        
      </form>
      <div class="row col-sm-3">
         <div>
           <button class="btn btn-outline-primary btn-rounded mr-3 mb-3" (click)="openModalImg(modalCropper)">modifica
             logo</button>
           <img *ngIf="data?.image" class="rounded-circle" [src]="data?.image" [width]="cropperSettings.croppedWidth"
             [height]="cropperSettings.croppedHeight">
         </div>
      </div>


      <ng-template #modalCropper let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Upload & Crop</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img-cropper [image]="data" [settings]="cropperSettings">{{data}}</img-cropper><br>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-rounded btn-outline-dark"
            (click)="updateImg();modal.close()">Save</button>
        </div>
      </ng-template>


    </div>
  </div>
</div>