<h1>Update User</h1>
<button (click)="deleteUser()">DeleteUser</button>
<form [formGroup]="profileForm" *ngIf="user">
  <div>
    <span>Name</span>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <span>Surname</span>
    <input id="surname" type="text" formControlName="surname" />
  </div>
  <div>
    <span>Role</span>
    <input id="role" type="number" formControlName="role" min="0" max="2" />
  </div>
  <div>
    <span>Serial Number</span>
    <input
      id="serial_number"
      type="text"
      formControlName="serial_number"
      min="0"
      max="2"
    />
  </div>
  <div>
    <span>Recruitment date</span>
    <input
      onfocus="(this.type='date')"
      id="recruitment_date"
      type="text"
      formControlName="recruitment_date"
    />
  </div>
  <div>
    <span>Email</span>
    <input id="email" type="email" formControlName="email" />
  </div>

  <div>
    <span>Cost</span>
    <input id="cost" type="number" formControlName="cost" />
  </div>

  <div>
    <span>Week working hours</span>
    <input
      id="week_working_hours"
      type="number"
      formControlName="week_working_hours"
    />
  </div>
  <button (click)="back()">Indietro</button>
  <button (click)="onSubmit()">Update</button>
</form>
