<!-- title -->
<div class="breadcrumb">
  <h1>Update user</h1>
</div>
<div class="separator-breadcrumb border-top"></div>

<!-- Update form -->
<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">User info</div>
        <form [formGroup]="profileForm" *ngIf="user">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="name">First name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
              />
              <p *ngIf="profileForm.get('name').invalid && profileForm.get('name').touched" class="text-danger position-absolute">First name required</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="surname">Last name</label>
              <input
                type="text"
                class="form-control"
                id="surname"
                formControlName="surname"
              />
              <p *ngIf="profileForm.get('surname').invalid && profileForm.get('surname').touched" class="text-danger position-absolute">Last name required</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                formControlName="email"
              />
              <p *ngIf="profileForm.get('email').invalid && profileForm.get('email').touched" class="text-danger position-absolute">Insert a valid email</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="role">Role</label>

              <select
                class="form-control"
                formControlName="role"
                name="role"
                id="role"
              >
                <option value="0">Collaborator</option>
                <option value="2">PM</option>
                <option value="1">Admin</option>
              </select>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="serial_number">Serial number</label>
              <input
                type="text"
                class="form-control"
                id="serial_number"
                formControlName="serial_number"
              />
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="recruitment_date">Recruitment date</label>

              <input
                formControlName="recruitment_date"
                id="recruitment_date"
                class="form-control form-control"
                name="recruitment_date"
                type="date"
              />
              <p *ngIf="profileForm.get('recruitment_date').invalid && profileForm.get('recruitment_date').touched" class="text-danger position-absolute">Select a date</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="cost">Cost</label>
              <input
                type="number"
                min="0"
                class="form-control"
                id="cost"
                formControlName="cost"
              />
              <p *ngIf="profileForm.get('cost').invalid && profileForm.get('cost').touched" class="text-danger position-absolute">Insert a valid amount</p>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="week_working_hours">Week working hours</label>
              <input
                type="number"
                min="0"
                class="form-control"
                id="week_working_hours"
                formControlName="week_working_hours"
              />
              <p *ngIf="profileForm.get('week_working_hours').invalid && profileForm.get('week_working_hours').touched" class="text-danger position-absolute">Insert a valid amount</p>
            </div>

            <div class="col-md-12">
              <div>
                <button
                  class="btn btn-outline-primary btn-rounded mr-3"
                  (click)="open(modalCropper)"
                >
                  Update logo
                </button>
                <img
                  *ngIf="user.picture"
                  class="rounded-circle"
                  src="{{ user.picture }}"
                  [width]="cropperSettings.croppedWidth"
                  [height]="cropperSettings.croppedHeight"
                />
              </div>
            </div>

            <div class="col-md-12 mt-4">
              <div class="d-flex justify-content-between">
                <button class="btn btn-danger" (click)="confirm(modalConfirm)">
                  Delete
                </button>
                <div>
                  <button
                    class="btn btn-outline-secondary mr-2"
                    (click)="back()"
                  >
                    Back
                  </button>
                  <btn-loading
                    (click)="onSubmit()"
                    btnClass="btn-primary "
                    [loading]="loading"
                    [disabled]="!profileForm.valid || loading"
                    >Update</btn-loading
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- deleting user modal -->
<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Profile deletion</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Are you sure you want to delete
        <span class="text-primary">{{ user.name }} {{ user.surname }}</span>
        profile?</strong
      >
    </p>
    <p>
      All information associated to this user profile will be permanently
      deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel')"
    >
      Cancel
    </button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-danger"
      (click)="deleteUser()"
    >
      Ok
    </button>
  </div>
</ng-template>

<!-- image-cropper modal -->
<ng-template #modalCropper let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload & Crop</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper
    ><br />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updateImg()">
      Save
    </button>
  </div>
</ng-template>
