<div class="row">
  <div class="col-12">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
      <div class="card-body">
        <div class="card-title mb-2 d-flex justify-content-start w-100">
          <h3>Revenue</h3>
        </div>
      </div>
      <div class="card-body">
        <div class="col-md-12 mb-4">
          <div class="card o-hidden">
            <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th >Nome</th>
                    <th >Ore</th>
                    <th >Totale</th>
                    <!-- (click)="sortTable('name')" -->
                  </tr>
                </thead>
                <tbody id="items">
                  <tr *ngFor="let rev of revenueArr">
                    <td >
                      <span>{{rev.name}}</span>
                    </td>
                    <td >
                        <span>{{rev.total_hours}}</span>
                    </td>
                    <td >
                        <span>{{rev.total}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
