<div class="row">
  <div class="col-12">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
      <div class="card-body">
        <div class="card-title mb-2 d-flex justify-content-start w-100">
          <h3>Revenue</h3>
        </div>
      </div>
      <div class="card-body">
        <div class="col-md-12 mb-4">
          <div class="card o-hidden">
            <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th >Nome</th>
                    <th *ngFor="let item of revenueArr">
                        <span>{{printKey(item)}}</span>
                    </th>
                    <th>Costo totale</th>
                    <!-- (click)="sortTable('name')" -->
                  </tr>
                </thead>
                <tbody id="items">
                  <tr *ngFor="let user of userPayed">
                    <td>
                      {{user.name }} {{user.surname }}
                    </td>
                    <td *ngFor="let item of revenueArr" >
                      <span>{{printRevenue(user.id,item,printKey(item))}}</span>
                    </td>
                    <td>
                      <span>{{printMonthTotalCostforUser(user.id)}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Costo totale</td>
                    <td *ngFor="let item of revenueArr" >
                    </td>
                    <td>
                      {{printTotCost()}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
