<div class="card-body card nav-center mb-4 col-12">
  <h3>History Logs</h3>
  <ul
    ngbNav
    #nav="ngbNav"
    class="nav-tabs col-12 d-flex align-items-center px-4 border-bottom border-secondary"
  >
    <!-- lista giornaliera -->
    <li ngbNavItem title="today">
      <a ngbNavLink>
        <div>
          <h3 class="text-20">Today</h3>
        </div>
      </a>
      <ng-template ngbNavContent>
        <div class="d-flex justify-content-center w-100 cardHistory">
          <ul *ngIf="dataToday" style="width: 90%; padding-left: 5px">
            <li
              *ngIf="dataToday.length"
              class="d-flex justify-content-between align-items-center mb-4 px-4"
            >
              <span class="w-33">EVENTO</span>
              <span class="w-33 d-md-block d-none">DATA </span>
              <span class="w-33 text-right">AGGIORNAMENTO</span>
            </li>
            <li
              *ngFor="let event of dataToday"
              class="py-2 px-4 d-flex align-items-center w-100 justify-content-between border-left border-secondary position-relative"
            >
              <div
                [ngClass]="{
                  'bg-success': event.filterData.event == 'created',
                  'bg-danger': event.filterData.event == 'deleted',
                  'bg-warning': event.filterData.event == 'updated'
                }"
                class="disc"
              ></div>
              <div
                class="w-50 d-flex align-items-center justify-content-between"
              >
                <span class="text-14 mr-2">
                  {{ event.filterData.event }} Task :{{
                    event.filterData.name || event.filterData.task
                  }}
                </span>
                <span  class="col-4 text-14 S d-none d-md-block">
                  {{ event.created_at | date : "dd.MM.y" }}
                </span>
              </div>
              <div class="w-50 text-right d-flex align-items-center justify-content-end">
                <span *ngIf="getDiffDate(event.created_at).days > 0">
                  {{ getDiffDate(event.created_at).days }} d
                </span>
                <span
                  class="d-none d-md-block"
                  *ngIf="getDiffDate(event.created_at).hours > 0"
                  >e {{ getDiffDate(event.created_at).hours }} h
                </span>
                <span> ago </span>
              </div>
            </li>
          </ul>
          <div *ngIf="!dataToday.length">Non ci sono logs giornalieri</div>
        </div>
      </ng-template>
    </li>
    <!-- lista mensile -->
    <li ngbNavItem title="month">
      <a ngbNavLink>
        <div>
          <h3 class="text-20">Month</h3>
        </div>
      </a>
      <ng-template ngbNavContent>
        <div class="d-flex w-100 justify-content-center cardHistory">
          <ul *ngIf="dataMonth" style="width: 90%; padding-left: 5px">
            <li
              *ngIf="dataMonth.length"
              class="d-flex justify-content-between w-100 align-items-center mb-4 px-4"
            >
              <span class="w-33 pr-2">EVENTO</span>
              <span class="w-33 d-none d-md-block">DATA </span>
              <span class="w-33">AGGIORNAMENTO</span>
            </li>
            <li
              *ngFor="let event of dataMonth"
              class="py-2 px-4 d-flex align-items-center w-100 justify-content-between border-left border-secondary position-relative"
            >
              <div
                [ngClass]="{
                  'bg-success': event.filterData.event == 'created',
                  'bg-danger': event.filterData.event == 'deleted',
                  'bg-warning': event.filterData.event == 'updated'
                }"
                class="disc"
              ></div>
              <div
                class="w-50 d-flex align-items-center justify-content-between"
              >
                <span class="text-14 mr-2">
                  {{ event.filterData.event }} Task :{{
                    event.filterData.name || event.filterData.task
                  }}
                </span>
                <span class="text-14 d-none d-md-block">
                  {{ event.created_at | date : "dd.MM.y" }}
                </span>
              </div>
              <div class="w-50 text-right">
                <!-- <span
                                    *ngIf="getDiffDate(event.created_at).diffMonth > 0">{{ getDiffDate(event.created_at).diffMonth}}
                                    Mesi</span> -->
                <span *ngIf="getDiffDate(event.created_at).days > 0">
                  {{ getDiffDate(event.created_at).days }} d
                </span>
                <span *ngIf="getDiffDate(event.created_at).hours > 0"
                  >and {{ getDiffDate(event.created_at).hours }} h</span
                >
                <!-- <span
                                    *ngIf="getDiffDate(event.created_at).minutes > 0">{{ getDiffDate(event.created_at).minutes}}
                                    Minuti </span>
                                <span> Fa </span> -->
              </div>
            </li>
          </ul>

          <div *ngIf="!dataMonth.length">Non ci sono logs mensili</div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
