<h2 class="mt-2 mb-4 text-center" *ngIf="monthlyLogs && isAdmin">
  <strong>Financial</strong>: {{ user.name }} {{ user.surname }}
</h2>

<div style="margin-top: 2.5rem; margin-bottom: 2rem;" class=" d-flex align-items-center" *ngIf="monthlyLogs">
  <div class="card card-icon-bg card-icon-bg-primary flex-grow-1 mr-4">
    <div class="card-body text-center">
      <i class="i-Calendar mr-2"></i>
      <div class="content">
        <p class="text-muted mt-2 mb-0">Giorni</p>
        <p  class="text-primary text-20 line-height-1 mb-2">
          {{workDays}}        
        </p>
      </div>
    </div>
  </div>
  <div class="card card-icon-bg card-icon-bg-primary flex-grow-1 mr-4">
    <div class="card-body">
        <i class="i-Gears"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">Lavorati</p>
          <p  class="text-primary text-20 line-height-1 mb-2">
            {{workedDays}}
          </p>
        </div>

    </div>
  </div>
  <div class="card card-icon-bg card-icon-bg-primary flex-grow-1 mr-4">
    <div class="card-body">
        <i class="i-Loading"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">Ferie</p>
          <p  class="text-primary text-20 line-height-1 mb-2">
            {{ferie}}
          </p>
        </div>

    </div>
  </div>
  <div class="card card-icon-bg card-icon-bg-primary flex-grow-1">
    <div class="card-body">
        <i class="i-Heart"></i>
        <div class="content">
          <p class="text-muted mt-2 mb-0">Malattia</p>
          <p  class="text-primary text-20 line-height-1 mb-2">
            {{malattia}}
          </p>
        </div>

    </div>
  </div>
</div>

<div class="alert alert-warning" role="alert" *ngIf="currMonthLog && currMonthLog.message">
  {{currMonthLog.message}}
</div>

<div *ngIf="monthlyLogs" class="card">
  <div class="table-head p-4 d-flex align-items-center justify-content-between">
    <div class="d-flex justify-content-center flex-grow-1">
      <div class="d-flex align-items-center ">
        <i class="arrow i-Arrow-Left-in-Circle" (click)="prevMonth()"></i>
        <div class="month m-2">
          <strong>{{ currMonthLog.month | date : "MMMM yyyy" }}</strong>
        </div>
        <i class="arrow i-Arrow-Right-in-Circle" (click)="nextMonth()"></i>
      </div>
    </div>
      <div>
      <!-- <button
        *ngIf="!isSaved"
        type="button"
        class="btn btn-primary m-1"
        (click)="save()"
      >
        Collect
      </button> -->
      <button
        
        type="button"
        class="btn btn-success m-1"
        (click)="save()"
      >
        Save
      </button>
    </div>
  </div>

  <div *ngIf="dayIds.length > 0" class="col-6 d-flex align-items-center">
    <form action="d-flex" [formGroup]="bulkActivities">
      <select
        formControlName="activity_id"
        class="form-control"
        name="activity_id"
        id="activity_id"
        (change)="onSelectChange($event)"
      >
        <option disabled class="bg-ligth">Seleziona attività</option>
        <option *ngFor="let activity of activities" [value]="activity?.id">
          {{ activity?.name }}
        </option>
        <option disabled class="bg-light">Seleziona Progetto</option>
        <option
          data-type="project"
          *ngFor="let project of projects"
          [value]="project?.id"
        >
          {{ project?.name }}
        </option>
      </select>
    </form>
    <p class="ml-4 mb-0">
      <strong
        >Applica attività Per {{ dayIds?.length }} giorni selezionati</strong
      >
    </p>
    <button class="btn btn-primary mr-1 ml-2" (click)="bulkSave()">
      Procedi
    </button>
  </div>

  <div *ngIf="days" class="table-body p-4">
    <div class="table-body-head d-flex align-items-center">
      <div class="col-4 pl-0">
        <div class="m-0">
          <label class="checkbox checkbox-primary m-0">
            <input
              id="selectAll"
              (change)="selectAll($event)"
              type="checkbox"
              name="selectAll"
            />
            <span class="checkmark"></span>
            <strong>Date</strong>
          </label>
        </div>
      </div>
      <span class="col-4 pl-5"><strong>Activity and Hours</strong></span>
      <span class="col-4 text-center"><strong>SmartWorking</strong></span>
      <!-- <span class="col">Actions</span> -->
    </div>
    <hr />
    <app-day
      (childsData)="childsData($event)"
      (isChecked)="isChecked($event)"
      [activities]="activities"
      [projects]="projects"
      [day]="day"
      *ngFor="let day of days; let j = index"
      [date]="j + 1"
    ></app-day>
  </div>
</div>

<div
  *ngIf="!monthlyLogs"
  class="position-absolute loader-bubble loader-bubble-primary"
></div>
