<div *ngIf="monthlyLogs" class="card">
  <div class="table-head p-4 d-flex align-items-center">
    <i class="arrow i-Arrow-Left-in-Circle" (click)="prevMonth()"></i>
    <div class="month m-2">
      <strong>{{ currMonthLog.month | date: "MMMM yyyy" }}</strong>
    </div>
    <i class="arrow i-Arrow-Right-in-Circle" (click)="nextMonth()"></i>
  </div>

  <div *ngIf="days" class="table-body p-4">
    <div class="table-body-head d-flex align-items-center">
      <span class="flex-grow-1">Date</span>
      <span class="flex-grow-1">Select activity</span>
      <span class="flex-grow-1">Hours</span>
    </div>
    <hr />

    <div *ngFor="let day of days">
      <div class="d-flex align-items-center">
        <span class="flex-grow-1"
          ><strong>{{ day.date | date: "d EEEE" }}</strong></span
        >
        <div class="flex-grow-1" *ngIf="day.activity_days_array[0]">
          <span
            class="d-block"
            *ngFor="let activity of day.activity_days_array"
          >
            {{ activity.activity_name }}
          </span>
        </div>

        <div class="flex-grow-1" *ngIf="day.activity_days_array[0]">
          <span
            class="d-block"
            *ngFor="let activity of day.activity_days_array"
          >
            {{ activity.hours_spent }}
          </span>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="loader-bubble loader-bubble-primary m-5"></div>
</div>
<div *ngIf="!monthlyLogs" class="loader-bubble loader-bubble-primary m-5"></div>
