<div *ngIf="monthlyLogs" class="card">
    <div class="table-head p-4 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <i class="arrow i-Arrow-Left-in-Circle" (click)="prevMonth()"></i>
            <div class="month m-2">
                <strong>{{ currMonthLog.month | date: "MMMM yyyy" }}</strong>
            </div>
            <i class="arrow i-Arrow-Right-in-Circle" (click)="nextMonth()"></i>
        </div>
    </div>

    <div *ngIf="days" class="table-body p-4">
        <div class="table-body-head d-flex align-items-center">
            <span class="col-3">Date</span>
            <span class="col-6 text-center">Activity and Hours</span>
            <span class="col-3 text-center">SmartWorking</span>
        </div>
        <hr />
        <div *ngFor="let day of days">
            <div class="d-flex align-items-center">
                <span class="col-3"><strong>{{ day.date | date: "d EEEE" }}</strong></span>

                <!-- activities and hours -->
                <div class="col-6 text-center">
                    <ul class="list-group">
                        <li class="list-group-item border-0" *ngFor="let activity of day.activity_days_array">
                            {{activity.activity_name}}: {{activity.hours_spent}}
                        </li>
                    </ul>
                </div>

                <!-- smartworking -->
                <div class="col-3 text-center">
                    <span class="checkmark">{{day.smartworking == 1 ? 'Si' : 'No'}}</span>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

<div *ngIf="!monthlyLogs" class="position-absolute loader-bubble loader-bubble-primary"></div>