<div class="row flex-nowrap align-items-center py-4" [ngClass]="{'bg-holiday' :  isWeekendDirective(day.date) == true}">
  <div class="col-md-4 col-3 d-flex align-items-center ">
    <span>
      <div class="mb-3 justify-content-center d-flex">
        <label class="checkbox checkbox-primary">
          <input
            id="bulkCheckbox"
            (change)="addDayToParentArray($event)"
            type="checkbox"
            [checked]="dayIds.includes(day.id)"
          />
          <span class="checkmark"></span>
        </label>
      </div>
    </span>
    <span
      [ngClass]="{ 'text-danger': isWeekendDirective(day.date) == true }"
      >
      <strong class="d-block d-sm-none">{{ day.date | date : "d " }}</strong>
      <strong class="d-none d-md-block ">{{ day.date | date : "d EEEE " }}</strong>
      </span
    >
  </div>

  <!-- activities and hours -->
  <div  [formGroup]="activitiesForm" class="d-md-flex align-items-center col-md-4 col-6 mb-3 ">
    <div formArrayName="activitiesArray">
      <!--show old activities -->
      <div
        *ngFor="let activity of day.activity_days_array; let j = index"
        class="d-flex position-relative align-items-center"
      >
        <select
          (change)="onSelectChange($event.target.value, j, $event)"
          class="form-control mb-2"
          [ngClass]="{'border-info': activity.activity_id == '13', 'border-danger': activity.activity_id == '14'}"
        >
          <option   selected>{{ activity.activity_name }}</option>
          <option *ngFor="let activity of activities" [value]="activity.id" [type]="'generic'">
            {{ activity.name }}
          </option>
          <option class="bg-light" *ngIf="projects" disabled value="">
            Seleziona Progetto
          </option>
          <option
            data-type="project"
            *ngFor="let project of projects"
            [value]="project?.id"
            [type]="'project'"
          >
            {{ project?.name }}
          </option>
        </select>

        <input
          (input)="onInputChange($event.target.value, j)"
          type="number"
          name="hours_spent"
          id="hours_spent"
          min="0"
          max="8"
          value="{{ activity.hours_spent }}"
          class="form-control mb-2 ml-2 w-50"
        />
        <i
          class="i-Close-Window ml-2 mb-2 text-danger position-absolute top-50 translate-middle pointer"
          (click)="deleteOldActivity(j)"
        ></i>
      </div>
      <!-- create new activities -->
      <div *ngFor="let activityForm of activitiesArray.controls; let i = index">
        <div [formGroup]="activityForm">
          <div class="d-flex align-items-center position-relative">
            <!-- activity input -->
            <select #selectValue (change)="checkType($event, i)" formControlName="activity_id" class="form-control mb-2">
              <option disabled class="bg-light">Seleziona attività</option>
              <option *ngFor="let activity of activities" [value]="activity.id" [type]="'generic'">
                {{ activity.name }}
              </option>
              <option class="bg-light" *ngIf="projects" disabled value="">
                Seleziona Progetto
              </option>
              <option
                data-type="project"
                *ngFor="let project of projects"
                [value]="project?.id"
                [type]="'project'"
              >
                {{ project?.name }}
              </option>
            </select>
            <!-- input in display none per activity_type -->
            <input
            *ngIf="selectValue.value"
              formControlName="activity_type"
              type="text"
              name="activity_type"
              id="activity_type"
              class="form-control mb-2 ml-2 w-50"
              [value]="selectValue.selectedOptions[0].type"
              hidden
            />
            <!-- hours input -->
            <input
              formControlName="hours_spent"
              type="number"
              name="hours_spent"
              id="hours_spent"
              min="0"
              max="8"
              class="form-control mb-2 ml-2 w-50"
            />
            <i
              class="i-Close-Window ml-2 mb-2 text-danger position-absolute top-50 translate-middle pointer"
              (click)="deleteActivity(i)"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="addActivity()"
      type="button"
      class="btn btn-sm btn-outline-primary  mb-2"
      style="margin-left: 2rem"
    >
      Add
    </button>
  </div>

  <!-- smartworking -->
  <div  class="col-md-4 col-3 mb-3 justify-content-center d-flex">
    <label class="checkbox checkbox-primary">
      <input
        (change)="smartAssign($event)"
        type="checkbox"
        [checked]="day.smartworking == 1"
      />
      <span class="checkmark"></span>
    </label>
  </div>

</div>
<hr />
