<div class="d-flex align-items-center">
  <span class="col"
    ><strong>{{ day.date | date: "d EEEE" }}</strong></span
  >
  <!-- activities and hours -->
  <div class="col" [formGroup]="activitiesForm">
    <div formArrayName="activitiesArray">
      <!--show old activities -->
      <div *ngFor="let activity of day.activity_days_array" class="d-flex">
        <select class="form-control mb-2">
          <option selected>{{ activity.activity_name }}</option>
          <option *ngFor="let activity of activities" [value]="activity.id">
            {{ activity.name }}
          </option>
        </select>

        <input
          type="number"
          name="hours_spent"
          id="hours_spent"
          min="0"
          max="8"
          value="{{ activity.hours_spent }}"
          class="form-control mb-2 ml-2 w-50"
        />
      </div>
      <!-- create new activities -->
      <div *ngFor="let activityForm of activitiesArray.controls; let i = index">
        <div class="d-flex">
          <!-- activity input -->
          <select class="form-control mb-2">
            <option *ngFor="let activity of activities" [value]="activity.id">
              {{ activity.name }}
            </option>
          </select>
          <!-- hours input -->

          <input
            type="number"
            name="hours_spent"
            id="hours_spent"
            min="0"
            max="8"
            class="form-control mb-2 ml-2 w-50"
          />
        </div>
      </div>
      <button
        (click)="addActivity()"
        type="button"
        class="btn btn-sm btn-outline-primary"
      >
        Add
      </button>
    </div>
  </div>

  <!-- smartworking -->
  <div class="col mb-3 justify-content-center d-flex">
    <label class="checkbox checkbox-primary">
      <input type="checkbox" [checked]="day.smartworking == 1" />
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="col mb-1">
    <btn-loading
      *ngFor="let btn of loadingButtons"
      btnClass="btn-{{ btn.name }}  btn-sm "
      [loading]="btn.loading"
      loadingText="Saving..."
      (click)="showLoading(btn)"
    >
      Save
    </btn-loading>
  </div>
</div>
<hr />
